@page
@model Projecto_JaVi.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Filmes";
}

<h1>Filmes</h1>

<p>
    <a asp-page="Create" class="back-link">Adicionar filme</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].JaViu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Filme) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JaViu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="back-link">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="back-link">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="back-link">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
